/*background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );*/
/*background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    font-size: 0.75rem;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 22px;
}

@keyframes slide {
    to {
        transform: translateX(10%);
    }
}

@media (min-width: 400px){
    body {
        font-size: 0.875rem;
    }

    @keyframes slide {
        to {
            transform: translateX(20%);
        }
    }
}

@media (min-width: 600px){
    body {
        font-size: 1.125rem;
    }

    @keyframes slide {
        to {
            transform: translateX(50%);
        }
    }
}

@media (min-width: 1200px){
    body {
        font-size: 1.25rem;
    }

    .titulo {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 32px;
    }

    @keyframes slide {
        to {
            transform: translateX(75%);
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 50px;
    margin-top: 20px;
    align-items: center;
}

.menu h1 {
    font-weight: 400;
    font-size: 1em;
    color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    padding-inline-end: 40px;
}

.menu a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 7px;
}

.fixed {
    background: white;
    width: 100%;
    height: 10vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 7px 0 rgb(32 33 36 / 28%);
    z-index: 99999;
    transform: translateY(-100%);
    animation: slideIn .8s ease .3s forwards;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

.fixed h1,
.fixed ul li a {
    color: #FFCC70;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.hero div {
    color: white;
    transform: translateX(-100%);
    animation: slide .8s forwards;
    line-height: 1.6;
}

.titulo span {
    color: #FFCC70;
    /*transition: color .6s;*/
}

.hero-btn {
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    margin-top: 8px;
    border-radius: 30px;
    cursor: pointer;
}

.hero div button:hover {
    background-color: white;
    color:#C850C0;
    transition: background-color 1s;
}

.social {
    padding-inline-end: 20px;
}

.social li {
    padding: 6px 0;
}

.social a:hover {
    color: #4158D0;
    transition: color 1s;
}

.social::before {
    content: "";
    width: 2px;
    height: 100px;
    background: white;
    display: block;
    margin: auto;
}

.social::after {
    content: "";
    width: 2px;
    height: 100px;
    background: white;
    display: block;
    margin: auto;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-about {
    opacity: 0.8;
    border-radius: 0.2em;
    width: 25vw;
    height: 75vh;
    object-fit: cover;
}

.sobre-painel {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    background: white;
    max-width: 50vw;
    font-size: 14px;
    padding: 4em;
    border-radius: 5px;
    transform: translateX(-5%);
    line-height: 1.6;
}

.sobre-painel h3,
.portfolio h3 {
    font-size: 28px;
    color: #FFCC70;
}

.sobre-painel h3::before {
    content: "";
    display: block;
    background: #FFCC70;
    width: 90px;
    height: 3px;
    transform: translate(-110%, 25px);
}

.sobre-painel p {
    padding: 1em 0;
}

.btn-box {
    width: 100%;
    text-align: center;
    transform: translateX(-5%);
    margin-top: 1em;
}

.down-btn {
    background: #FFCC70;
    text-transform: uppercase;  
}

.down-btn:hover {
    background: #fac460;
    text-transform: uppercase;  
}

.portfolio {
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.subtitulo {
    text-align: center;
    font-size: 38px;
    margin: 1em 0;

    background: -webkit-linear-gradient(360deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background: linear-gradient(360deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.portfolio .grid {
    max-width: 1170px;
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.grid figure {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.img-portfolio {
    width: 100%;
    min-height: 12rem;
    display: block;
}

footer {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    font-size: 14px;
}